/* General CSS Rules*/
body {
    font-family: 'Source Sans Pro', sans-serif;
}

.form-group {
    text-transform: capitalize;
}

p {
    text-transform: lowercase;
}

p::first-letter {
    text-transform: capitalize;
}

.center {
    text-align: center;
}

.vcenter-container {
    display: table;
    width: 100%;
    height: 100%;
}

.vcenter-item {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.link {
    text-align: center;
}

.link a {
    text-decoration: none;
    text-transform: capitalize;
}

/* Atomic classes */

.mb1 {
    margin-bottom: 1em;
}

/* Login screen styles */

#login-screen {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
}

#login-form {
    width: 100%;
}

/*Signup screen styles*/

#signup-screen {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
}

#signup-form {
    width: 100%;

}

#progressBar {
    visibility: hidden;
    width: 100%;
    background-color: inherit;
}

#progressBar #bar {
    width: 0%;
    height: 5px;
    border-radius: 50px;
    background-color: black;
    transition: width 2s;
}

.question {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

#welcome-text {
    display: none;
}

.correct-answer {
    box-shadow: 0 1px 3px #4cae4c !important;
    background-color: #4cae4c !important;
    border-color: #4cae4c !important;
    color: #fff !important;
}

.wrong-answer {
    box-shadow: 0 1px 3px #FF4632 !important;
    background-color: #FF4632 !important;
    border-color: #FF4632 !important;
    color: #fff !important;
}

.choice-btn {
    white-space: normal;
    height: 100px;
}

#questions {
    min-height: 120px;
}